html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh; }

.main-header {
  width: 100vw;
  height: 100px; }
  .main-header svg {
    width: 100vw;
    position: absolute; }
  .main-header__hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    margin-right: 0.5rem; }
    .main-header__hamburger span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: red;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out; }
    .main-header__hamburger span:nth-child(1) {
      top: 0px; }
    .main-header__hamburger span:nth-child(2), .main-header__hamburger span:nth-child(3) {
      top: 18px; }
    .main-header__hamburger span:nth-child(4) {
      top: 36px; }
    .main-header__hamburger h4 {
      position: absolute;
      top: 26px;
      text-transform: uppercase;
      font-family: 'Exo', sans-serif;
      letter-spacing: .25em;
      transition: transform .25s ease; }
    .main-header__hamburger.open h4 {
      transform: scale(0); }
    .main-header__hamburger.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    .main-header__hamburger.open span:nth-child(2) {
      transform: rotate(45deg); }
    .main-header__hamburger.open span:nth-child(3) {
      transform: rotate(-45deg); }
    .main-header__hamburger.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }

.main-footer {
  height: 10vh;
  width: 100vw;
  background-color: #ddd;
  position: fixed;
  bottom: 0; }

.dice__figure {
  position: relative; }
  .dice__figure--active .dice__side-one {
    animation: roll-dice .4s; }
  .dice__figure--active .dice__side-two {
    animation: roll-dice .4s .4s; }
  .dice__figure--active .dice__side-three {
    animation: roll-dice .4s 1.2s; }
  .dice__figure--active .dice__side-four {
    animation: roll-dice .4s .8s; }
  .dice__figure--active .dice__side-five {
    animation: roll-dice .4s 2s; }
  .dice__figure--active .dice__side-six {
    animation: roll-dice .4s 1.6s; }

.dice__side {
  border-radius: 3px;
  display: block;
  width: 100px;
  height: 100px;
  margin: 7px auto;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  background-color: #4e8eb4; }
  .dice__side--active {
    visibility: visible !important; }
  .dice__side .dice__dot {
    border-radius: 50%;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff; }
  .dice__side-start .dice__dot {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }
  .dice__side-one {
    visibility: hidden;
    animation: rollDice 2.4s; }
    .dice__side-one .dice__dot {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
  .dice__side-two {
    visibility: hidden; }
    .dice__side-two .dice__dot:first-child {
      top: 20px;
      left: 20px; }
    .dice__side-two .dice__dot:last-child {
      bottom: 20px;
      right: 20px; }
  .dice__side-three {
    visibility: hidden; }
    .dice__side-three .dice__dot:first-child {
      top: 15px;
      left: 15px; }
    .dice__side-three .dice__dot:nth-child(2) {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
    .dice__side-three .dice__dot:last-child {
      bottom: 15px;
      right: 15px; }
  .dice__side-four {
    visibility: hidden; }
    .dice__side-four .dice__dot:first-child {
      top: 15px;
      left: 15px; }
    .dice__side-four .dice__dot:nth-child(2) {
      top: 15px;
      right: 15px; }
    .dice__side-four .dice__dot:nth-child(3) {
      bottom: 15px;
      left: 15px; }
    .dice__side-four .dice__dot:last-child {
      bottom: 15px;
      right: 15px; }
  .dice__side-five {
    visibility: hidden; }
    .dice__side-five .dice__dot:first-child {
      top: 15px;
      left: 15px; }
    .dice__side-five .dice__dot:nth-child(2) {
      top: 15px;
      right: 15px; }
    .dice__side-five .dice__dot:nth-child(3) {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
    .dice__side-five .dice__dot:nth-child(4) {
      bottom: 15px;
      left: 15px; }
    .dice__side-five .dice__dot:last-child {
      bottom: 15px;
      right: 15px; }
  .dice__side-six {
    visibility: hidden; }
    .dice__side-six .dice__dot:first-child {
      top: 15px;
      left: 15px; }
    .dice__side-six .dice__dot:nth-child(2) {
      top: 15px;
      right: 15px; }
    .dice__side-six .dice__dot:nth-child(3) {
      top: 0;
      bottom: 0;
      left: 15px;
      margin: auto; }
    .dice__side-six .dice__dot:nth-child(4) {
      top: 0;
      right: 15px;
      bottom: 0;
      margin: auto; }
    .dice__side-six .dice__dot:nth-child(5) {
      bottom: 15px;
      left: 15px; }
    .dice__side-six .dice__dot:last-child {
      bottom: 15px;
      right: 15px; }

.dice:nth-child(6) .dot:first-child {
  top: 15px;
  left: 15px; }
.dice:nth-child(6) .dot:nth-child(2) {
  top: 15px;
  right: 15px; }
.dice:nth-child(6) .dot:nth-child(3) {
  top: 0;
  bottom: 0;
  left: 15px;
  margin: auto; }
.dice:nth-child(6) .dot:nth-child(4) {
  top: 0;
  right: 15px;
  bottom: 0;
  margin: auto; }
.dice:nth-child(6) .dot:nth-child(5) {
  bottom: 15px;
  left: 15px; }
.dice:nth-child(6) .dot:last-child {
  bottom: 15px;
  right: 15px; }

@keyframes roll-dice {
  0% {
    visibility: visible; }
  100% {
    visibility: hidden; } }
.character-select {
  margin-top: 300px;
  margin-bottom: 200px;
  width: 100vw; }
  .character-select .houses, .character-select .character-select__characters {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between; }
    .character-select .houses div, .character-select .character-select__characters div {
      margin: 10px; }
  .character-select .character-select__characters {
    width: 30%; }

.begin-btn--hidden {
  visibility: hidden; }

.game {
  display: flex;
  margin: 5em auto;
  width: 80%;
  justify-content: space-between; }
  .game__board svg {
    width: 100%;
    max-height: 70vh; }
    .game__board svg .player-token {
      height: 70px;
      transition: all .8s ease; }

/*# sourceMappingURL=main.css.map */
