html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-image: url('../../assets/misc/bcg.jpg');
}

@import 'misc/variables';
@import 'misc/base';
@import 'misc/typgraphy';
@import 'components/navigation';
@import 'components/alert';
@import 'components/header';
@import 'components/dice';
@import 'components/game-interactions';
@import 'components/finale-modal';
@import 'components/character-status';
@import 'pages/character';
@import 'pages/game';
@import 'pages/finale';
