/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

body {
  margin: 0;
  color: #2d2d2d;
}

body,
button,
input,
select,
textarea {
  font-family: '', serif;
  font-size: 18px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  // color: var(--primary-color-1-1);
  font-family: '', serif;
}

a {
  // color: var(--primary-color-2-1);
  // font-family: 'Exo', sans-serif !important;
}

p {
  margin-bottom: 1.5em;
  max-width: 34em;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  display: inline-block;
  font-family: 'Courier 10 Pitch', Courier, monospace;
  color: #ddca7e;
  background: #282c34;
  padding: 0.5em 0.8em;
  border-radius: 0.2em;
}

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

@media screen and (min-width: 27em) {
}
@media screen and (min-width: 60em) {
  h1 {
    font-size: 3.375em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }
}