/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
$background-color: #f7f7f7;
$primary-color: #272623;
$secondary-color: #9b8f8e;
$tertiary-color: darkred;

$golden-font: #70610e;

$box-shadow: 3px 3px 3px 3px black;
$box-shadow-hover: 5px 6px 6px 6px black;
