/*------------------------------------*\
  #CHARACTER SELECT PAGE
\*------------------------------------*/
.character-select {
  & .intro {
    margin: 2em auto;
    width: 100%;
    padding: 0.5em;
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);

    & p:first-of-type::first-letter {
      font-family: 'Cinzel', serif;
      font-weight: bold;
      padding: 0.1rem 0.3rem 0.4rem;
      margin: 0.1em 0.3rem 0px 0px;
      border: 2px solid;
      border-radius: 2px;
      font-size: 4rem;
      float: left;
      line-height: 1;
    }

    & .show-character-button {
      color: $golden-font;
      padding: 2em;
      box-shadow: $box-shadow;
      background-color: $tertiary-color;
      border: none;
      transition: transform 0.8s ease-in, opacity 0.3s ease;
      text-decoration: none;
      display: flex;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: #fff;

      &:active {
        background-color: darken($primary-color, 2%);
      }
    }
  }
  margin-top: 50px;
  width: 100vw;

  & .hidden-content {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-500px);
    transition: all 0.3s ease-in-out;
  }

  & .houses,
  & .character-select__characters {
    margin: 2em auto;
    width: 100%;
    display: flex;
    justify-content: center;
    & > div {
      & > .character-card {
        box-shadow: $box-shadow;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        width: 50%;
        & img {
          height: 100px;
          margin: 20px 10px 10px;
        }
        & h3 {
          text-align: center;
          margin: 5px 10px;
        }

        &:hover {
          box-shadow: $box-shadow-hover;
        }
      }
    }
  }

  & .houses {
    transition: all 0.3s ease-in-out;
    &__house {
      width: 20%;
      & h3 {
        font-size: 0.7em;
        height: 100px;
        margin: 0 5px;
        text-align: bottom;
      }
      & figure {
        box-shadow: $box-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        padding: 4px;
        img {
          max-width: 50px;
          filter: drop-shadow(3px 3px 3px black);

          &:hover {
            filter: drop-shadow(5px 6px 6px black);
          }

          &:active {
            filter: drop-shadow(1px 1px 1px black);
          }
        }
      }
    }
  }

  & .character-select__characters {
    & > div {
      display: flex;
    }
  }

  .char-select-btn {
    width: 100%;
    background-color: $primary-color;
    color: $background-color;
  }

  .character-status {
    transition: all 0.3s ease-in-out;

    &__player {
      position: relative;
      min-width: 210px;
      & .character-status__deselect {
        position: absolute;
        padding: 0 0 2em 2em;
        right: 10px;
        top: 5px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          color: $tertiary-color;
        }
      }
    }
  }
}
@media (min-width: 60rem) {
  .character-select {
    margin-top: 160px;
    width: 100vw;

    & .intro {
      margin: 2em auto;
      width: 60%;
      transition: all 0.3s ease-in-out;

      & .show-character-button {
        color: $golden-font;
        padding: 2em;
        box-shadow: $box-shadow;
        background-color: $tertiary-color;
        border: none;
        transition: transform 0.8s ease-in, opacity 0.3s ease;
        text-decoration: none;
        display: flex;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: #fff;

        &:hover {
          background-color: $primary-color;
        }
        &:active {
          background-color: darken($primary-color, 10%);
        }
      }
    }

    & .houses,
    & .character-select__characters {
      width: 80%;
      display: flex;
      justify-content: space-between;
      & > div {
        margin: 10px;
        & > .character-card {
          position: relative;
          box-shadow: $box-shadow;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 10px;
          width: 180px;
          height: 280px;

          & img {
            height: 100px;
            margin: 20px 10px 10px;
          }
          & h3 {
            text-align: center;
            margin: 5px 10px;
          }
        }
      }
    }

    & .houses {
      &__house {
        width: 20%;
        & h3 {
          font-size: 1.3em;
          height: 110px;
        }
        & figure {
          box-shadow: none;
          img {
            max-width: 200px;
            filter: drop-shadow(3px 3px 3px black);

            &:hover {
              filter: drop-shadow(5px 6px 6px black);
            }

            &:active {
              filter: drop-shadow(1px 1px 1px black);
            }
          }
        }
      }
    }

    & .character-select__characters {
      width: 30%;
      & > div {
        display: flex;
      }
    }

    .char-select-btn {
      width: 100%;
    }
  }

  .character-status {
    transition: all 0.3s ease-in-out;

    &__player {
      position: relative;
      min-width: 210px;
      & .character-status__deselect {
        position: absolute;
        padding: 0 0 2em 2em;
        right: 10px;
        top: 5px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          color: $tertiary-color;
        }
      }
    }
  }
}

@media (min-width: 1700px) {
  .character-select {
    margin-top: 200px;
  }

  .character-select .houses {
    width: 60%;
  }
}

@media (min-width: 2000px) {
  .character-select {
    margin-top: 240px;
  }

  .character-select .houses {
    width: 55%;
  }
}
