.character-select {
  margin-top: 120px;
  margin-bottom: 200px;
  width: 100vw;

  & .houses,
  & .character-select__characters {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    & > div {
      margin: 10px;
      & > .character-card {
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        & img {
          height: 100px;
          margin: 20px 10px 10px;
        }
        & h3 {
          text-align: center;
          margin: 5px 10px;
        }
      }
    }
  }

  & .houses {
    &__house {
      width: 20%;
      & h3 {
        height: 170px;
      }
      & figure {
        img {
          max-width: 200px;
          filter: drop-shadow(3px 3px 3px black);

          &:hover {
            filter: drop-shadow(5px 6px 6px black);
          }

          &:active {
            filter: drop-shadow(1px 1px 1px black);
          }
        }
      }
    }
  }

  & .character-select__characters {
    width: 30%;
    & > div {
      display: flex;
    }
  }

  .char-select-btn {
    width: 100%;
  }
}

.character-status {
  display: flex;
  justify-content: center;;
  
  
  &__player {
    &--hidden {
      opacity: 0;
    }

    margin: 2em;
    padding: 2em;
    box-shadow: $box-shadow;
    transition: all .3s ease-in;
  }
  .begin-btn {
    margin: 2em;
    padding: 2em;
    box-shadow: $box-shadow;
    background-color: red;
    border: none;
    transition: transform .4s ease-in, opacity .3s ease;
    text-decoration: none;;

    &--hidden {
      visibility: hidden;
      transform: translateX(400px);
      opacity: 0;
    }

    &:hover {
      background-color: darkred;
    }
  }
}
