.finale {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  &__throne {
    width: 70%;
    margin: 0 auto;
    display: flex;

    & > svg {
      height: 70vh;
      margin: 0 auto;
      animation: pulsate 3s infinite;

      & image {
        height: 240px;
      }
    }
  }
  & .play-again-btn {
    text-decoration: none;
    text-transform: uppercase;
    background-color: $golden-font;
    color: $background-color;
    margin-top: 2.2em;  
    margin-bottom: 1em;  
    padding: 2em;
    font-size: 1.2em;
    box-shadow: $box-shadow;
    transition: all .1s ease-in;

    &:hover {
      background-color: $tertiary-color;
    }
  }
}

@keyframes pulsate {
  0% {
    filter: drop-shadow(0 0 20px $golden-font);
  }
  50% {
    filter: drop-shadow(0 0 90px $golden-font);
  }
  100% {
    filter: drop-shadow(0 0 20px $golden-font);
  }
}
