.game-page {
  overflow: hidden;
  max-height: 100vh;
}
.game {
  display: flex;
  margin: 6em auto;
  width: 70%;
  justify-content: space-between;
  &__interactions {
    flex-grow: 1;
  }

  &__board {
    flex-grow: 2;
    width: 40%;
    & svg {
      width: 100%;
      max-height: 70vh;

      & {
        .player-token {
          height: 70px;
          transition: all 0.8s ease;
        }
      }
    }
  }

  &__player-cards {
    flex-grow: 1;

    & .card {
      box-shadow: $box-shadow;
      margin-bottom: 4em;
      padding: 1em;
      transition: all .4s ease-in;
      min-width: 300px;;
      &--active {
        background-color: red;
      }
    }
  }
}
