/*------------------------------------*\
  #GAME PAGE
\*------------------------------------*/

.game-page {
  overflow: hidden;
  max-height: 100vh;
}
.game {
  z-index: 5;
  display: flex;
  margin-top: 3em;
  width: 100%;
  padding: 0.2em;
  justify-content: space-between;
  flex-direction: column-reverse;
  height: 80vh;
  &__interactions {
    flex-grow: 1;
  }

  &__board {
    flex-grow: 2;
    width: 100%;
    & svg {
      width: 100%;
      max-height: 50vh;

      & {
        .player-token {
          height: 70px;
          transition: all 0.8s ease;
        }
      }
    }
  }

  &__player-cards {
    display: none;
    flex-grow: 1;

    & .card {
      box-shadow: $box-shadow;
      margin-bottom: 4em;
      padding: 1em;
      transition: all 0.4s ease-in;
      width: 300px;
      &--active {
        background-color: $primary-color;
        color: $background-color;
      }

      & h3 {
        border-bottom: 2px $golden-font solid;
      }
    }
  }
}

@media (min-width: 60rem) {
  .game-page {
    overflow: hidden;
    max-height: 100vh;
  }
  .game {
    display: flex;
    margin: 8em auto 1em;
    width: 70%;
    justify-content: space-between;
    flex-direction: row;
    &__interactions {
      flex-grow: 1;
    }

    &__board {
      flex-grow: 2;
      width: 40%;
      & svg {
        width: 100%;
        max-height: 70vh;

        & {
          .player-token {
            height: 70px;
            transition: all 0.8s ease;
          }
        }
      }
    }

    &__player-cards {
      display: block;
      flex-grow: 1;

      & .card {
        box-shadow: $box-shadow;
        margin-bottom: 2em;
        padding: 1em;
        transition: all 0.4s ease-in;
        width: 280px;

        &--active {
          background-color: $primary-color;
          color: $background-color;
        }

        & h3 {
          border-bottom: 2px $golden-font solid;
          font-size: 1em;
        }

        & h4 {
          font-size: 0.8em;
        }

        & h5 {
          font-size: 0.7em;
          font-style: italic;
          min-height: 20px;
        }

        .dice__button {
          width: 100%;
        }

        p {
          font-size: 0.8em;
          margin-top: 0.5em;
          margin-bottom: 0.8em;
        }

        .player-position {
          display: block;
          font-weight: bold;
        }
      }
    }
  }
}
