/*------------------------------------*\
  #GAME INTERACTION LIST
\*------------------------------------*/

.game__interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-height: 30vh;
  .story-board {
    max-height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 1em;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $secondary-color;
      border-radius: 3px;
    }

    & h2 {
      text-align: center;
      text-transform: uppercase;
      position: sticky;
      top: 0px;
      background-color: $background-color;
      z-index: 5;
    }
    &__list {
      padding: 0.2em;
    }
    &__item {
      animation: pop 0.5s forwards;
      padding: 0.3em;
      border-radius: 2px;
    }

    &__item:nth-child(odd) {
      // background-color: $primary-color;
      // color: $background-color;
    }

    & .interaction {
      &-dice-roll {
        &:before {
          content: '\1F3B2';
        }
      }
      &-player-change {
        background-color: $background-color !important;
        color: #000 !important;
        font-size: 0.8em;
        font-style: italic;
        border-top: $golden-font solid 2px;
      }
      &-trap {
        border-left: $tertiary-color solid 2px;
      }
      &-waiting {
        &:before {
          content: '\1F512';
        }
      }
      &-six-roll {
        background-color: $primary-color;
        color: $background-color;
      }
    }
  }
}

@media (min-width: 60rem) {
  .game__interactions {
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    max-height: 66vh;
    .story-board {
      max-height: 75%;
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 1em;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $secondary-color;
        border-radius: 3px;
      }

      & h2 {
        text-align: center;
        text-transform: uppercase;
        position: sticky;
        top: 0px;
        background-color: $background-color;
        z-index: 5;
      }
      &__list {
        padding: 2em;
      }
      &__item {
        animation: pop 0.5s forwards;
        padding: 0.3em;
        border-radius: 2px;
      }

      &__item:nth-child(odd) {
        // background-color: $primary-color;
        // color: $background-color;
      }
    }
  }
}
@keyframes pop {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}
