.main-header {
  width: 100vw;
  height: 100px;
  & svg {
    width: 100vw;
    position: absolute;
  }

  &__hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    margin-right: 0.5rem;

    & span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: red;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }

    & span:nth-child(1) {
      top: 0px;
    }

    & span:nth-child(2),
    & span:nth-child(3) {
      top: 18px;
    }

    & span:nth-child(4) {
      top: 36px;
    }

    & h4 {
      position: absolute;
      top: 26px;
      text-transform: uppercase;
      font-family: 'Exo', sans-serif;
      letter-spacing: .25em;
      transition: transform .25s ease;
    }

    &.open h4 {
      transform: scale(0);
    }

    &.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    &.open span:nth-child(2) {
      transform: rotate(45deg);
    }

    &.open span:nth-child(3) {
      transform: rotate(-45deg);
    }

    &.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}