.main-header {
  & .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    &__text {
      text-align: center;
      position: relative;
    top: -100px;
    color: red;
    font-weight: bold;
    font-size: 0.9rem;
    max-width: 100px;
    }

    & svg {
      max-width: 140px;
      position: relative; 
    }
  }
  width: 100vw;
  height: 100px;
  #duck {
    width: 100vw;
    position: absolute;
    filter: drop-shadow(3px 3px 3px black);
  }

  &__hamburger {
    width: 60px;
    height: 45px;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    margin-right: 0.5rem;
    z-index: 1000;
    cursor: pointer;

    & span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: blue;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }

    & span:nth-child(1) {
      top: 0px;
    }

    & span:nth-child(2),
    & span:nth-child(3) {
      top: 18px;
    }

    & span:nth-child(4) {
      top: 36px;
    }

    & h4 {
      position: absolute;
      top: 42px;
      text-transform: uppercase;
      font-family: 'Exo', sans-serif;
      letter-spacing: .25em;
      transition: transform .25s ease;
      font-size: .9em;
    }

    &.open h4 {
      transform: scale(0);
    }

    &.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    &.open span:nth-child(2) {
      transform: rotate(45deg);
    }

    &.open span:nth-child(3) {
      transform: rotate(-45deg);
    }

    &.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}