/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/

.main-navigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 270px;
  background-color: #9b8f8e;
  z-index: 100;
  box-shadow: $box-shadow;
  transform: translateX(270px);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--open {
    transform: translateX(20px);
  }

  & .navigation {
    display: flex;
    flex-direction: column;

    &__item {
      padding: 2em;
      text-transform: uppercase;
      & a {
        text-decoration: none;
        color: $primary-color;
        font-weight: bold;

        &:hover {
          color: lighten($primary-color, 10%);
        }
      }
    }
  }
}
@media (min-width: 60rem) {
  .main-navigation {}
}
